body {
  box-sizing: border-box;
  background: rgb(216, 224, 235);
}
.header-container {
  background-color: rgb(148, 137, 133);
  padding: 10px;
}
.header-img {
  width: 75px;
  height: 75px;
}
.header-authorize-btn {
  padding: 15px 30px;
  font-size: 20px;
  margin: 3px 0 0 0;
}
.form {
  display: flex;
  margin: 20px 0 0 0;
  justify-content: space-between;
  align-items: center;
}
.card-filter-btn {
  padding: 10px 20px;
}
.card-container {
  margin: 10px 0 20px 0;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 110vh;
  border-radius: 4px;
  background-color: lavenderblush;
  box-shadow: inset 0 0 10px 0 black;
}
.card-container__title {
  font-size: 35px;
  position: absolute;
  top: 40%;
  left: 30%;
}
.create-visit-btn {
  padding: 10px 20px;
  font-size: 20px;
  margin: 3px 0 0 0;
  display: none;
}
.list-group-item {
  color: black;
}
.visit {
  margin: 10px;
  max-width: 250px;
}
.delete-edit-visit {
  margin-left: 80px;
  cursor: pointer;
}
